
<%- include('./partials/boilerplate') %>
<h1>This is the Show All View</h1>
<article class ="bob-index">
    <% bobs.forEach((bob) => { %>
      <%- include('./partials/bobDetail.ejs', {bob:bob}) %>
    <a href="/bob/<%=bob.id%>"> <button> Bob details </button> </a>
      <% }) %>
    <br>

      <a href="/bob/new"> Create a bob </a>
<%- include('./partials/footer') %>


