<%- include('./partials/boilerplate') %>
<h1>This is the Show All View</h1>
<% bob.forEach((bob) => { %>
<%- include('./partials/bobDetails.ejs', {bob: bob}) %>
<% }) %>
<%- include('./partials/footer') %>