
<%- include('./partials/boilerplate') %>
<h1>This is the Show All View</h1>
<% bobs.forEach((bob) => { %>
<%- include('./partials/bobDetail.ejs', {bobs: bob}) %>
<% }) %>
<%- include('./partials/footer') %>

