<%- include('./partials/boilerplate') %>
<div>
  <h2>Create New Bob</h2>
  <form method="POST" action="/bob">
    <%- include('./partials/formBody') %>
    <input type="submit" value="Create New Bob" />
  </form>
</div>
<%- include('./partials/footer') %>