<%- include('./partials/boilerplate') %>

<form id="soda" method="POST" action="/bob">
    <input type="text" name="creator" placeholder="Creator">
    <br>
    <input type="text" name="weapons_id" placeholder="Weapon">
    <br>
    <input type="text" name="beverages_id" placeholder="Beverage">
    <br>
    <input type="text" name="tips_id" placeholder="Tip">
    <input type="submit" value="Add Bob">
</form>
  <a href="/bob/">Back</a>

<%- include('./partials/footer') %>