<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>zOMBIE Survival Pack</title>
    <link href="https://fonts.googleapis.com/css?family=Butcherman" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Raleway:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  <header>
  <h1>zOMBIE Survival Pack</h1>
  </header>