<div>
    <label for="creator">Name:  </label>
    <input
    value="<%= bob.creator%>"
    type="text"
    name="name"
    id="creator" />
  </div>
  <div>
    <label for="weapons_id">Weapon:  </label>
    <input
    value="<%= bob.weapons_id %>"
    type="text"
    name="Weapon"
    id="Weapon" />
  </div>
  <div>
    <label for="beverages_id">Beverages:  </label>
    <input
    value="<%= bob.beverages_id %>"
    type="text"
    name="Beverage"
    id="Beverage" />
  </div>
  <div>
    <label for="tips_id">Tip:  </label>
    <input
    value="<%= bob.tips_id%>"
    type="text"
    name="Tips"
    id="Tips" />
  </div>
  <br />