<div>
    <label for="creator">Creator:  </label>
    <input
    value="<%= bob.creator %>"
    type="text"
    name="creator"
    id="creator" />
  </div>
  <div>
    <label for="weapon">Weapon:  </label>
    <input
    value="<%= bob.name %>"
    type="text"
    name="weapon"
    id="weapon" />
  </div>
  <div>
    <label for="beverage">Beverage:  </label>
    <input
    value="<%= bob.drink %>"
    type="text"
    name="beverage"
    id="beverage" />
  </div>
  <div>
    <label for="Tip">Tip:  </label>
    <input
    value="<%= bob.description %>"
    type="text"
    name="tip"
    id="tip" />
  </div>
  <br />